@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans light';
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face {
  font-family: 'Open Sans Extra Bold Italic';
  src: url(../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf);
}


html{font-size: 105%;}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #F2E4DC;
}

#container{
  width: 100%;
}

a:hover {
  color: #666281;
}

h1, h2, h3 {
  font-family: 'Open Sans light';
}

h2, h3 {
  color:#5687A6
}

h1 {   
  font-size: 2.4rem;
  color:#012E40;
  margin-top: 2rem;
  
}

h2 {

  font-size: 2.1rem; 
  color: #012E40;
  margin: 2rem 0 2rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

p{
  line-height: 1.5;
  margin-bottom: 1.8rem;
  padding: 1rem 0;
  padding-top: 1.5rem;
  
}

.nameDefinition {
  font-family: 'Open Sans Extra Bold Italic';
  padding-left: 1.5rem;
}

.box {
  position: relative;
}

img{
  max-width: 100%;
  padding: 1.5rem 0;
}

aside {
  background-color: #012E40;
}

header{
  margin-bottom: 1rem;
  padding-top: 2rem;
  text-align: center;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

section {
  width: 80%;
  margin: 1rem 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
}

/* Fixed sidenav, full height */
.navbar {
  height: 220px;
  width: 100%;
  position: fixed;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #012E40;
  overflow-x: hidden;
}



/* Style the sidenav links and the dropdown button */
.navbar a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.navbar a:hover, .dropdown-btn:hover {
  color: #F2D1B3;
  background-color: #025E73;
}



/* Add an active class to the active dropdown button */
.active {
  background-color: #F2D1B3;
  color: white;
                }

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #025E73;
  padding-left: 8px;          
  padding-left: 0;        
}

.navbar a:focus-visible, .dropdown-btn:focus-visible {
    color: black;
    background-color: rgb(131, 131, 81);
  
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  color: #F2E4DC;
  float: right;
  padding-right: 8px;
}

img[alt="Djupvik Hamn Huvudbild"]{
  padding: 0 0;

}

img[alt="Skeppssättning"] {
  max-height: 500px;
}

img[alt="Djupviks Strand, foto Bernt Enderborg"] {
    max-height: 500px;
}

input, select, textarea{
  background-color: white;
  border: 1px solid #012E40;
  color: #000;
  font-size: 1.3rem;
  width: 90%;
}


input[type="submit"], input[type="reset"]{
  background-color: #025E73;
  color: #fff;
  border: none;
  padding: 0.5rem 0.8rem;
  margin-bottom: 1rem;
  width: 150px;
}

textarea{
  width: 90%;
  max-width: 400px;
  height: 250px;
}

input:focus, select:focus, textarea:focus{
  outline: none;
  background-color: #ffffff;
}

input[type="checkbox"] {
  padding: 0.4rem;
  width: 5%;
}

input[type="tel"], input[type="email"], input[type="text"], select{
  width: 80%;
  max-width: 250px;
}

table{
  width: 100%;
  max-width: 600px;
}

td, th{
  border: 1px solid #012E40;
  padding: 0.3rem;
}

td{
  text-align: center;
}

tr:nth-of-type(odd){
  background-color: #F2E4DC;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .navbar {padding-top: 15px;}
  .navbar a {font-size: 18px;}
}

/* Some media queries for responsiveness */
@media (min-width: 731px) {
  #container{
    display: grid;
    grid-template-rows: 100% 100%;
    grid-template-columns: 20% 80%;
    
  }

  main {
    /* margin-left: 30%; Same as the width of the sidenav  */
    width: 70%;
    width: 100%;
  }

  aside {
    width: 100%;
  }

  .navbar {
    height: 100%;
    width: 20%;
    position: fixed;
  }

  .navbar a , .dropdown-btn{
    padding: 1.5rem 0;
    font-size: 1.4rem;
    text-align: center;
}
}

@media(min-width:1021px){
  #container{
      display: grid;
      grid-template-rows: 100% 100%;
      grid-template-columns: 20% 80%;
  }
}


@media(min-width:300px) and (max-width:780px){
  table, thead, tbody, th, td, tr{
      display: block;
      font-size: 0.7rem;
  }
  thead tr{
      position: absolute;
      top:-9999px;
      left:-9999px;
  }

  th{
    visibility: hidden;
  }
  td{
  position: relative;
  padding-left: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  }
  td:before{
      position: absolute;
      top:6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
      text-align: left;
  }
  td:nth-of-type(1):before{
      content: "Namn";
  }
  td:nth-of-type(2):before{
      content: "Mail";
  }
  td:nth-of-type(3):before{
      content: "Telefonnummer";
  }

  .header {
    visibility: hidden;
    border:0 #F2E4DC;
  }

}
