@font-face {
    font-family: 'Open Sans';
    src: url(../Fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans light';
    src: url(../Fonts/Open_Sans/OpenSans-Light.ttf);
}

html{font-size: 105%;}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color:#262014;
    
}

#container{
    width: 100%
}

h1, h2, h3 {
    font-family: 'Open Sans light';
}

h1 {
    font-size: 2rem;
    color: #fff;
    margin-top: 2rem;
}

h2 {
    font-size: 2.1rem;
    margin: 2rem 0 2rem;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

p{
    line-height: 1.5;
    margin-bottom: 1.8rem;
}
/*
ul ul{
    visibility:hidden;
}
*/

#hashLink {
    display: none;
}

#hashLink:target {
    display: block;
}

/* Dropdown Button */

.button {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.button:hover {background-color: #3e8e41;}
.button:focus {background-color: #3e8e41;}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn, .dropdown:focus{background-color: #3e8e41;}
   
